myairwatch:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: myairwatch_analytics
      location: asia-southeast1
      threads: 4
      timeout_seconds: 300
